body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('El Pollo Loco/img/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

canvas {
    background-color: black;
    display: block;
    border-radius: 24px;
}

@font-face {
    font-family: 'zabars';
    src:  url('El Pollo Loco/fonts/zabars.ttf') format('truetype');
    }  


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

h1 {
    font-size: 80px;
    letter-spacing: 6px;
    text-shadow: 2px 2px 0px #E68956, 4px 4px 0px rgba(0,0,0,0.25);
}

@media screen and (max-width: 720px) {
    canvas {
        width: 100%
    }
}

@media screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

.links {
    font-size: 24px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    padding-right: 48px;
    color: black;
    cursor: pointer;
}

.ln-pp-main {
    flex-direction: column;
    font-family: Helvetica;
    color: white;
    font-size: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 64px;
}

.link-ln {
    color: white;
}

.privacy-policy {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 100px 200px;
}